/*general*/
.no-margin{
	margin: 0px;
}

.no-bg{
	background-color: rgba(0,0,0,0);
	border-color:rgba(0,0,0,0) ;
}

/*blue*/
.bg-color1{
	background-color: #42b8dd;
}

.text-color1{
	color: #42b8dd;
}

/*yellow*/
.bg-color2{
	background-color: #f5bd25;
}
.text-color2{
	color: #f5bd25;
}

/*dark gery*/
.bg-color3{
	background-color: #2d2c2c;
}

.text-color3{
	color: #2d2c2c;
}

/*white*/
.text-color4{
	color: #fff;
}

h1,h2,h3,h4,h5,h6,p, input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
}




/*containers*/
.search-container{
	width: 100%;
	margin: 20px auto;
	text-align: center;
	/*background-color: green;*/
	position: relative;
	bottom: -291px;

}

.section-container{
	width: 100%;
	padding: 20px;
}


/*navigation*/

.navbar-default .navbar-nav>li>a/*login styles*/{

	color: #42b8dd;
	font-size: 1.2em;
}


/*cover*/
.front-cover{
padding: 0px;
margin: 0 auto;
/*background-color: green;*/
height: 600px;
z-index: -1;




}

.jumbotron{
	min-height: 560px;
	margin-bottom: -52px;
	background-image: url("/assets/images/cover1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-image: cover;
	position: relative;
	bottom: 50px;

}

/*inputs*/
input[type="search"]{
	height: 80px;
	width: 65%;
	border:2px solid #42b8dd;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	font-size: 2.3em;
	color: #2d2c2c;
}

button.explore{
	display: block;
	text-align: center;
	margin: 20px auto;
	color: #fff;
	font-size: 3.8em;
	cursor: pointer;

}

button.explore:hover{
	color: #42b8dd;
}

/*sections*/
.section-container h1{
	font-size: 8.0em;
	color: #fff;
	text-align: center;
}

.section-container h1 span{
	color: #2d2c2c;
}

.section-container p{
	font-size: 1.4em;
	color: #fff;
	text-align: center;
	width: 60%;
	margin: 10px auto 100px;
}

.icon-container{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.5);
	text-align: center;
	margin: 100px auto 0px;
}



@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 40px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-magnifier72:before {
	content: "\e000";
	color: #2d2c2c; 
}
.flaticon-plussign1:before {
	content: "\e001";
	color: #42b8dd;
}
.flaticon-travel25:before {
	content: "\e002";
	color: #f5bd25
}

/*footer*/
.footer{
	background-color: #42b8dd;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	line-height: 12px;

}













