/*general*/
#main-logo{
	/*margin:10px;*/

}
a:hover{
	text-decoration: none;
}
.external-logo{
	text-align: center;
	margin: 0px auto 20px;
}
.no-margin{
	margin: 0px;
}

.margin-auto{
	margin: 0 auto;
}
.margin-top30{

	margin-top: 30px;
}

.margin-bottom30{

	margin-bottom: 30px;
}

.height100{
	height: 100%;
}
.p-large{
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif
}

.h1-large{
	font-size: 5.0em;
	font-family: 'Open Sans', sans-serif
}

.no-bg{
	background-color: rgba(0,0,0,0);
	border-color:rgba(0,0,0,0) ;
}

.inline-block{
	display: inline-block;
}

.block{
	display: block;
}
.inner-shadow{
	-webkit-box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.78);
	-moz-box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.78);
	box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.78);
}

.text-center{
	text-align: center;
}
.no-list-style{
	list-style: none;
}

.med-font{
	font-size: 0.9em;
}

/*table hover bootstrap*/
.table tbody tr:hover td, .table tbody tr:hover th {
	background-color: #f5bd25;
}

.table{
	font-size: 1.1em;
}

/*blue*/
.bg-color1{
	background-color: #42b8dd;


}

.btn-2 {
	color: #fff;
	background-color: #f5bd25;
	border-color: #2e6da4;
	border-radius: 0px;
}

.btn-3{
	background-color: #42B8DD;
}

.btn-4{
	background-color: #F5BD25;
}

.text-color1{
	color: #42b8dd;
}
.margin10{
	margin: 10px;
}

.right-margin{
	margin-right: 10px;
}

.left-margin{
	margin-left: 10px;
}

.margin-top-Negative51{
	margin-top: -51px;
}

.margin-top60{
	margin-top: 60px;
}

.padding-top-60{
	padding-top: 60px;
}
.padding-bottom10{
	padding: 10px;
}
.padding20{
	padding: 20px;
}
.margin-bottom-45{
	margin-bottom: 45px;
}

.dash-info{
	padding: 10px 20px;
	margin: 0px 20px;
}

.dash-p{
	margin: 6px 0 -4px;
}

.border-bottom{
	border-bottom:1px solid #2D2C2C;
}

.border-bottom-light{
	border-bottom:1px solid #e0e0e0;
}


/*yellow*/
.bg-color2{
	background-color: #f5bd25;
}
.text-color2{
	color: #f5bd25;
}

/*yellow 2*/
.text-color2a{
	color: #ffe100;
}
/*dark gery*/
.bg-color3{
	background-color: #2d2c2c;
}

.text-color3{
	color: #2d2c2c;
}

/*white*/
.text-color4{
	color: #fff;
}

.bg-color4{
	background-color: #fff;
}

.bg-color5{
	background-color: #F9F9F9;
}



/*buttons*/

.btn-1 {
	color: #fff;
	background-color: #138dd8;
	border-color: #42b8dd;
	border-radius: 0px;

}

.float-right{
	float: right;
}


/*containers*/
.search-container{
	width: 100%;
	margin: 20px auto;
	text-align: center;
	/*background-color: green;*/
	position: relative;
	bottom: -291px;

}

.section-container{
	width: 100%;
	padding: 20px;
}

.scroll-nav-container{

	position: fixed;
	z-index: 10;
	right: 100px;
	top: 145px;

}


.small-container{
	max-width: 700px;
	margin: 0 auto;
}

.med-container{
	max-width: 900px;
	margin: 0 auto;
}

.guides-container{
	width: 65%;
	display: inline-block;
	vertical-align: top;
	padding: 45px;
	height: 600px;
	overflow-y: auto;
	margin: 0px;
	margin-right: -8px;
	text-align: center;
	padding-bottom: 180px;


}

.interactive-booktour-container{
	width: 60%;
	display: inline-block;
	vertical-align: top;
	/*padding: 45px;*/
	height: 100%;
	overflow-y: auto;
	margin: 0px;
	margin-right: -8px;
	text-align: center;
}

.map-container{
	width: 35%;
	display: inline-block;
	vertical-align: top;
	height: 600px;
	margin: 0px;

}

.dashboard-container{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
}
.guide-mesages-container{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	/*padding: 45px;*/
	height: 100%;
	overflow-y: scroll;


	text-align: center;

}
#footer-icon-container{

	text-align: center;
	margin: 0 auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.glyphicon-option-horizontal{
	width: 65px;
	height: 65px;
	background-color: #fff;
	color: #F5BD25;
	text-align: center;
	font-size: 2.5em;
/*position: fixed;
bottom: 10px;*/
padding-top: 17px;

}

.glyphicon-option-horizontal:hover{
	background-color: #42B8DD;
}

/*navigation*/

.navbar-default .navbar-nav>li>a/*login styles*/{

	color: #42b8dd;
	font-size: 1.2em;
}
/*scrollTo navigation*/
.scroll-nav{
	width: 20px;
	height: 20px;
	background-color: #F5BD25;
	border-radius: 50%;
	margin: 20px auto;
	display: block;
	text-align: center;
}

/*mobile menu*/
.navbar-default .navbar-toggle{
	border-color: rgba(255,255,255,0);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;

}

/*modal*/

.modal-header {
	padding: 20px;
	color: #fff;
	border-bottom: none;
}

.modal-body{
	padding: 50px;
}
.modal-content {

	background-color: #42b8dd;
	border-radius: 0px;
}

.modal-footer{
	border-top: none;
} 


/*cover*/
.front-cover{
	padding: 0px;
	margin: 0 auto;
	/*background-color: green;*/
	height: 600px;
	z-index: -1;

}
button .glyphicon-map-marker{

	background-color: #2D2C2C;
	font-size: 0.9em;
	padding: 24px;
	/* border-radius: 10px; */
	position: absolute;
	height: 92px;
	top: 0px;
	margin-left: 10px;
}

.glyphicon-map-marker:hover{
	color: #42B8DD ;
}

.jumbotron{
	min-height: 560px;
	margin-bottom: -52px;
	background-image: url("/assets/images/cover1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-image: cover;
	position: relative;
	bottom: 50px;

}

/*inputs*/
input[type="search"],
input[type="textbox"]
{
	height: 80px;
	width: 65%;
	border:2px solid #42b8dd;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	font-size: 2.3em;
	color: #2d2c2c;

}

#guide-message{
	font-size: 1.3em;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"]{
	border: none;
	width: 100%;
	height: 60px;
	background-color: #fff;
	padding: 15px;
	color: #42b8dd;
	font-size: 1.5em;
}


/*eliminates focus blue border from text area and input fields*/
textarea:focus, input:focus, select:focus{
	outline: 0;

}

#datepicker{
	width: 15%;
	font-size: 1.2em;
}
.edit-input{
	background-color: rgba(0,0,0,0);
	border:none;
	padding: 0px;
	margin: 10px auto;
}



label{
	color: #fff;
}

button.explore{
	display: block;
	text-align: center;
	margin: 20px auto 0px;
	color: #fff;
	font-size: 3.8em;
	cursor: pointer;
	/*shadow*/
	-webkit-box-shadow: inset -12px 0px 8px -3px rgba(0,0,0,0.41);
	-moz-box-shadow: inset -12px 0px 8px -3px rgba(0,0,0,0.41);
	box-shadow: inset -12px 0px 8px -3px rgba(0,0,0,0.41);

}

.explore-small{
	display: block;
	text-align: center;
	margin: 20px auto 0px;
	color: #fff;
	font-size: 3.0em;
	cursor: pointer;

}

.explore:hover{
	color: #42B8DD;
}

/*sections*/
.section-container h1{
	font-size: 8.0em;
	color: #fff;
	text-align: center;
}

.section-container h1 span{
	color: #2d2c2c;
}

.section-container p{
	font-size: 1.4em;
	color: #fff;
	text-align: center;
	width: 60%;
	margin: 10px auto 100px;
}

.icon-container{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.5);
	text-align: center;
	margin: 100px auto 0px;
}

.footer-icon-container{
	position: absolute;
	width: 100%;
	bottom: 162px;
}

#navipal-footer-icon{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*shadow*/
	-webkit-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);
	box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);
}

@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 40px;
	font-style: normal;
	/*margin-left: 20px;*/
	}.flaticon-magnifier72:before {
		content: "\e000";
		color: #2d2c2c; 
	}

	i.scroll.flaticon-magnifier72:before{
		content: "\e000";
		color: #2D2C2C;
		font-size: 15px;
		padding-top: 5px;
	}
	.flaticon-plussign1:before {
		content: "\e001";
		color: #42b8dd;

	}

	i.scroll.flaticon-plussign1:before{
		content: "\e001";
		color: #2D2C2C;
		font-size: 15px;
		padding-top: 5px;
	}
	.flaticon-travel25:before {
		content: "\e002";
		color: #f5bd25
	}

	i.scroll.flaticon-travel25:before{
		content: "\e002";
		color: #2D2C2C;
		font-size: 15px;
		padding-top: 5px;
	}



	.flaticon-airplane68:before {
		content: "\e000";

	}

	i.scroll.glyphicon.glyphicon-map-marker {
		
		color: #2D2C2C;
		font-size: 15px;
		padding-top: 2px;

	}

	/*footer*/
	.footer{
		background-color: #42b8dd;
		padding: 20px;
		margin: 0 auto;
		text-align: center;
		line-height: 12px;
		position:fixed;
		left:0px;
		bottom:0px;

		width:100%;
		/*shadow*/
		-webkit-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);
		-moz-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);
		box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.36);

	}




	/**********************GUIDES PAGE********************/
	.main-container {
		margin-top: 70px;
	}

/*.form-horizontal, .alert{
max-width: 300px;
margin-left: 15px;
}*/

.table {
	max-width: 500px;

}

#map {
	height: 100%;
}
#panel {
	top: 10px;
	left: 25%;
	z-index: 5;
	/*padding: 5px;*/
	text-align: center;
}

.navbar-brand {
	padding: 0;
}

.profile-photo{
	border-radius: 50%;
}
/*stars rating*/
.glyphicon-star,
.glyphicon-star-empty{
	font-size: 2.0em;
}


.guide-profile-dashboard {
	width: 21%;
	color: #fff;
	height: 100%;
	overflow: scroll;
	/* padding: 20px 10px; */
	margin-right: -12px;
}

.guide-dashboard{
	width: 79%;
	background-color: #F9F9F9;
	vertical-align: top;
	padding: 90px 20px 20px;
	margin: 0px 4px;
	overflow: scroll;
	height: 100%;
	text-align: center;
}

.guides-dashboard-header{
	text-align: center;
	padding: 72px 20px 5px;
}

.info-box-header{
	
	color: #fff;
	margin: 15px auto 0px;
	padding: 15px;

}

.info-box{
	background-color: #fff;
	padding: 20px;
	border:1px solid #e5e5e5;
	overflow: scroll;
	margin: 0px auto 20px;
	height: 150px;

}

.info-box-chart{
	background-color: #fff;
	padding: 20px;
	border:1px solid #e5e5e5;
	
	margin: 0px auto 20px;
	
}

.info-box li{
	list-style: none;
}

.info-box li p{
	font-size: 1.4em;
}

#guide-dashboard{
	border:1px solid #e5e5e5;
}



/**********selected********/
.styled-select select {
	background: transparent;
	width: 60px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	color: 000;
	font-size: 1.5em;
	vertical-align: top;
	margin-top: 12px;
}

.styled-select {
	width: 60px;

	overflow: hidden;
	background: url("/assets/images/down_arrow_select.png") no-repeat right #fff;

	border: 1px solid #ccc;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid grey;
}

h1,h2,h3,h4,h5,h6,p, input[type="submit"]{
	font-family: 'Open Sans', sans-serif !important;
}


/*adming charts*/
.admin-chart{
	width: 40%;
	display: inline-block;
	margin: 20px 20px;

}

/*about*/

.about-cover-container{
	width: 100%;
	padding: 20px;
	height: 40%;
	margin: 0 auto;
	text-align: center;
}

/*uploads page*/
.glyphicon-user{
	width: 120px;
	height: 120px;
	color: #fff;
	background-color: #e2ded8;
	margin: 45px auto;
	padding-top: 15px;
	font-size: 5.5em;
	border-radius: 50%;
	border:1px solid #f7f4ef;
}

.photo-upload-container{
	max-width: 400px;
	padding: 20px;
	color: #fff;
	margin-top: 100px;

}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}















