.main-container {
	margin-top: 70px;
}

.form-horizontal, .alert{
	max-width: 300px;
	margin-left: 15px;
}

#map {
       height: 100%;
     }
#panel {
 top: 10px;
 left: 25%;
 z-index: 5;
 padding: 5px;
 text-align: center;
}

.navbar-brand {
  padding: 0;
}